<div id="map-wrap" class="map-wrap">
  <button class="extrude-btn" type="button" (click)="extrude()"></button>
  <form *ngIf="exstrutionForm" [formGroup]="exstrutionForm" class="map__layer-edit" (submit)="editExstruded()">
    <select formControlName="sourceId" name="select" id="select">
      <option *ngFor="let item of layersExstruded;" [value]="item.id">Id: <b>{{ item.id }}</b></option>
    </select>
    <div class="map__layer-edit__settings" *ngIf="exstrutionForm.value.sourceId.length">
      <input formControlName="color" type="color" name="color" id="color">
      <input formControlName="height" type="number" name="number" id="number">
      <button class="btn" type="submit">Apply</button>
      <button class="btn" (click)="delete()" type="button">Delete</button>
    </div>
  </form>
</div>
